{{!-- creating a new project --}}

<h1>Let's create a new project!</h1>
<form action="project/create" method = "POST" enctype="multipart/form-data">
<label for="projectName">Project Name:</label>
        <input type="text" id="projectName" name="projectName" required>
        <br>

        <label for="projectDescription">Project Description:</label>
        <input type="text" id="projectDescription" name="projectDescription" required>
        <br>

<label for="projectPhoto">Project Photo:</label>
       <input type="file"   id= "projectPhoto" name="projectPhoto" required>

        <br>

        <label for="projectLink">Project Link:</label>
        <input type="text" id="projectLink" name="projectLink" required>
        <br>

        <label for="gitHubLink">Github Link:</label>
        <input type="text" id="gitHubLink" name="gitHubLink" required>
        <br>
<button>create</button>
        </form>