<div class=" container">
    <br>
   
    <br>
    <br>


     <br><h2>Hello, sorry go to back to the homepage <button class="btn btn-info"> <a class="nav-link" href="/logged-in">Click here!</a></button></h2>
    <br>
    <br>
</div>

{{!-- <h2>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened --}}
{{!-- </h2> --}}