/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  background-color: #ff8c00 ;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  color: #00b7ff;
}

h1 {
  padding: 15px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center ;
}

h2 {
  padding: 15px;
  font-size: 18px;
  font-weight: bolder;
  text-align: center ;
}
.logo-img{
  max-width: 150px;
  height:auto ;
}
/* SIGN UP STYLES */

/*  
#form h2 {
  font-size: 24;
  margin-bottom: 16px;
  text-align: center;

}
#form label{
  display:block;
  font-size: 14px;
  margin-bottom: 6px;
}

#form input{
  width:100px;
  padding:8px;
  margin: bottom 12px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;

}

form button {
  max-width:985px; 
  min-height: 45PX;
  border-radius: 15PX; 
  background-color: #000;
  padding: 4px 53Px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  font-size: 26PX;
  border: none;
  cursor: pointer;
  font-family: 'Poppins';
  
}

form button:hover {
  background-color: #ff8c00;
  transform: scale(1.07); 
  /* font-weight: bold; 
}

.error {
  color: #ffff;
  font-size: 14px;
  margin-top: 6px;
  background-color: #dc3545;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: 800px;
}

.form-field {
  margin-bottom: 16px; 
  align-items: center;

}


.form-container {
  flex: 1;
  padding-right: 20px;
  align-items: center;
}


.form-field label {
  display: block;
  font-size: 14px;
  align-self: center;
  margin-bottom: 6px;
}

.form-field input {
  width: 100%;
  padding: 8px;
  align-items: center;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 14px;
}

.form-field button {
  max-width: 200px;
  border-radius: 15px;
  background-color: #000;
  align-items: center;
  padding: 4px 20px;
  margin-top: 12px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins';
}
*/

/* General Styles */
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.logo-img{
  max-width: 150px;
  height:auto ;
}

.video {
  max-width: 600px;
  height: 100vh;
  border-radius: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
 
}
/*Form Styles */
.form-container {
  flex: 1;
  padding: 20px;
  background-color: white;
  /* border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.form-container h1 {
    padding: 15px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center ;
  
}

.form-container h2 {
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center ;
    border-radius: 15px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 16px;
}

.form-field label {
  display: block;
  font-size: 14px;
  align-items: center;
  text-align: center;
  margin-bottom: 6px;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
}

.form-field p {
align-items: center;
text-align: center;
margin: 0 auto;
font-size: 9px;
margin-top: 12px;
}

 form button {
  display: block;
  max-width: 200px;
  border-radius: 15px;
  background-color: #000;
  padding: 8px 16px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #ff8c00;
}

.error {
  color: white;
  font-size: 14px;
  margin-top: 6px;
  background-color:rgb(208, 1, 1);
  padding: 10px;
}

/* Image Styles */
.image-container {
  flex: 1;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 50vw;
  height: 50vh;
  border-radius: 8px;
 
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  color: #fff; 
  /* background-color: rgba(0, 0, 0, 0.6);  */
  padding: 10px;
}

.carousel-item img {
  width: 100%;
  height: auto;
}


/* prof */
.profile-pic {
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}
.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.btn-card {
  display: flex;
  justify-content: center;
  width: 100%;
}